* {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 60px;
    text-align: center;
    background: #22507c;
    color: #fff;
    border-radius: 0 0 0 0;
    font-size: x-large;
  }

  .boxHeader {
    border-radius: 10px 10px 0 0;
  }

  header .background {
    position: relative;
    width: 100px;
    height: 200px;
  }


  nav {
    display: flex;
    min-height: 30px;
    font-size: 22px;
    text-align: center;
  }
  
  nav ul li a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
      color: #5c98cf;
      background-color: transparent;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  aside {
    flex: 1;
    background-color: #22507c;
    padding: 80px;
    text-align: center;
    color: white;
  }
  
  
  footer {
    padding: 20px;
    text-align: center;
    background: #22507c;
    color: #fff;
  }
  
  .products {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    min-height: 50%;
  }
  
  .card header {
    padding: 20px;
  }
  
  .card p {
    text-align: center;
    padding: inherit;
    font-size: initial;
  }
  
  .card img {
    width: 100%;
    height: 70%;
    border-radius: 0 0 10px 10px;
  }
  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  